.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10px;
}
/*---
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
--*/


.App-header {
  background-image : url(./boardImg.jpg);
  background-position: center;
  background-size: cover; 
  max-width: 100%;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  font-size: calc(10px + 2vmin);
  
  
}


.heading{
  color: #050505;
  font-family: "Times New Roman", Times, serif;
  
}

.ref {
  color: #520303;
  font-family: "Cursive";
  margin-bottom: 0;
  margin-top:0;
}

.name{
  margin-bottom: 0;
  margin-top:0;
}

.link{
  color: #f7f7f4;
  font-size: 20px;
}


.postItpad{
  height: 200px;
  width : 200px;
  background-color: rgb(27, 174, 233);
  position:absolute;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);

}

.postHeading{
  font-size: 15px;
  font: smaller;
  font-family: "Cursive";
  margin-top: 10px;
  margin-bottom: 5px;
}
/*
.Add{
  position:absolute;
  top:10px;
  left: 5px;
}
*/

.postItpad{
  height: 200px;
  width : 200px;
  background-color: rgb(85, 188, 248);
  position:absolute;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
}



